/* company styling started  */
.company {
  padding: 20px;
}
.company-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-title h4 {
  font-size: 200px;
  font-weight: 400;
  font-family: var(--font-changa);
  color: var(--base-color);
  text-transform: uppercase;
  line-height: 50px;
  pointer-events: none;
  margin-top: 2.8rem;
}
.company-para p {
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: 500;
  color: var(--base-color);
  line-height: 30px;
  margin-top: 20px;
  width: 30%;
  margin: auto;
  text-align: center;
  line-height: 22px;
  margin-top: 4.5rem;
}
.company-bg {
  max-width: 100%;
  max-height: 360px;
  overflow: hidden;
}
.company-bg img {
  width: 100%;
  height: 100%;
}
.company-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 3rem;
}
.company-container {
  width: 70%;
  margin: auto;
}
.company-nav .title {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--black-color);
  margin-right: 4rem;
}
.company-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-list li {
  position: relative;
  padding: 10px 0px;
  margin-right: 4rem;
}
.company-list li a {
  font-family: var(--font-changa);
  font-size: 16px;
  color: var(--black-color);
}
.company-list li .activeLink {
  position: absolute;
  top: 95%;
  left: 0%;
  background-color: var(--base-color);
  height: 3px;
  width: 100%;
}

/* values styling started  */
.values {
  padding: 20px 40px;
  margin-bottom: 5rem;
}
.values-para {
  font-size: 17px;
  font-family: var(--font-roboto);
  font-weight: 500;
  text-align: justify;
  width: 40%;
  margin: auto;
}
.value-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: -1.5rem;
}
.value-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
  padding: 10px 10px 5px;
  width: 600px;
}
.value-title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.value-title p {
  font-size: 12px;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--base-color);
  margin-right: 0.3rem;
  margin-bottom: -0.2px;
}
.value-list h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--black-color);
  text-transform: uppercase;
}
.value-circle {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: var(--base-color);
}
.value-space:hover {
  background-color: var(--base-color);
  cursor: pointer;
}
.value-space:hover .value-circle {
  background-color: #fff;
}
.value-space:hover .value-title p,
.value-space:hover h4 {
  color: #fff;
}
.value-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-top: 3rem;
}
.value-card {
  display: flex;
}
.value-card img {
  width: 50%;
  height: 100%;
}
.value-card p {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  color: var(--gray-color);
  width: 50%;
  margin-left: 1.5rem;
}

.history {
  padding: 20px 200px 5rem 80px;
  margin: 5rem 0rem 7rem;
}
.history-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.history-data {
  position: relative;
}
.vertical-line {
  position: absolute;
  top: 10%;
  left: 0%;
  height: 100%;
  width: 2px;
  background-color: var(--base-color);
}
.history-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 130px;
}
.history-content p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-color);
  font-family: var(--font-roboto);
  width: 250px;
}
.history-circle {
  border-radius: 50px;
  width: 8px;
  height: 8px;
  background-color: var(--base-color);
}
.line-circle-1 {
  position: absolute;
  top: 30%;
  left: -0.3%;
}
.line-circle-2 {
  position: absolute;
  top: 45%;
  left: -0.3%;
}
.line-circle-3 {
  position: absolute;
  top: 47%;
  left: -0.3%;
}
.year {
  font-size: 23px;
  font-weight: 500;
  color: var(--base-color);
  font-family: var(--font-roboto);
}
.year-1 {
  position: absolute;
  top: 27%;
  left: 4%;
}
.year-2 {
  position: absolute;
  top: 47%;
  left: 4%;
}
.year-3 {
  position: absolute;
  top: 47%;
  left: 4%;
}
.history-data img {
  width: 600px;
  height: 65%;
  object-fit: cover;
}
.history-tagline {
  padding: 0px 10px;
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-roboto);
  line-height: 1.4;
}
.history-heading {
  position: absolute;
  top: 90%;
  right: 1%;
  width: 800px;
}
.history-heading h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-roboto);
}

/* Team Styling Started  */
.team {
  padding: 20px 100px;
  margin-bottom: 3rem;
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin-top: 1rem;
}
.team-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.team-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  border-top: 2px dashed var(--base-color) !important;
  border-bottom: 2px dashed var(--base-color) !important;
  font-family: var(--font-roboto);
}
.team-data h6 {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--black-color);
  margin-bottom: 3px;
}
.team-data p {
  font-size: 13px;
  font-weight: 500;
  color: var(--gray-color);
}
.team-social i {
  color: var(--base-color);
  font-size: 25px;
  margin-left: 0.5rem;
}

/* Location Styling Started  */
.location-bg {
  max-width: 100%;
  max-height: 400px;
  overflow: hidden;
}
.location-bg iframe {
  width: 100%;
  height: 400px;
}
.location {
  padding: 0px 35px 2rem;
}
.location-main {
  width: 50%;
  margin: auto;
}
.location .title {
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  line-height: 30px;
  font-family: 500;
  font-family: var(--font-changa);
}
.location .sub-title {
  text-align: start;
  font-size: 22px;
  font-family: var(--font-changa);
  color: var(--gray-color);
}
.location-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  color: var(--black-color);
}
.location-card img {
  width: 250px;
  height: 250px;
  margin-right: 1rem;
}
.location-data {
  width: 35%;
}
.location-data .card-title {
  font-size: 35px;
  line-height: 55px;
  font-family: var(--font-changa);
}
.location-data .data {
  font-family: var(--font-changa);
  font-size: 18px;
  line-height: 23px;
}

/* Faq styling started  */
.faq {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 35px 0rem;
}
.faq .label {
  border-radius: 7px;
  padding: 5px 15px;
  color: #fff;
  background-color: var(--base-color);
  text-transform: uppercase;
  font-family: var(--font-roboto);
  letter-spacing: 1.5px;
  font-weight: 500;
}
.faq .faq-title {
  font-family: var(--font-changa);
  font-size: 40px;
  font-weight: 500;
}
.faqs {
  padding: 0px 20px;
  padding-top: 50px;
  margin-bottom: 5rem;
  width: 70%;
}
.drop-title {
  position: relative;
  border-top: 1px solid var(--light-gray);
  padding: 15px 20px;
  font-family: var(--font-roboto);
  width: 100%;
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-roboto);
  text-transform: capitalize;
}
.drop-title:after {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  content: "\2795";
  font-size: 13px;
  color: var(--black-color);
  float: right;
  margin-left: 5px;
}
.drop-title.active:after {
  content: "\2796";
}
.faq-panel {
  font-family: var(--font-roboto);
  font-size: 18px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  max-height: 0;
}
.faq-panel.show {
  opacity: 1;
  max-height: 850px;
  padding: 0px 20px 20px;
}