@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-changa: "Changa", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --black-color: #2d2d2d;
  --base-color: #ff6501;
  --gray-color: #808080;
  --light-gray: #b0b0b0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-start {
  text-align: start;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-col {
  flex-direction: column;
}
.info-title {
  font-size: 60px;
  font-family: var(--font-changa);
  font-weight: 400;
  line-height: 60px;
  margin: 45px 0px 10px;
}
.info-para {
  font-size: 25px;
  font-family: var(--font-changa);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 30px;
}
.info-para span {
  color: var(--base-color);
}
.align-para {
  margin: auto;
  width: 70%;
}
.contact-para-align {
  margin: auto;
  width: 90%;
}
.base-btn {
  padding: 9px 25px;
  border-radius: 25px;
  cursor: pointer;
  width: 450px;
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--base-color);
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-roboto);
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  margin-top: 1rem;
}
.label-company {
  border-radius: 7px;
  padding: 5px 15px;
  color: #fff;
  background-color: var(--base-color);
  text-transform: uppercase;
  font-family: var(--font-roboto);
  letter-spacing: 1.5px;
  font-weight: 500;
  width: fit-content;
}
@media only screen and (max-width: 991px) {
  .info-title {
    font-size: 32px;
  }

  .info-para {
    font-size: 16px;
  }

  .align-para {
    text-align: center !important;
    width: 100%;
  }

  .base-btn {
    width: 100%;
    margin: 20px auto;
  }
}

/* listing styling started  */
.listing-flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  margin: auto;
}
.listing-company {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  margin: auto;
}
.listing-title {
  font-size: 60px;
  font-family: var(--font-changa);
  font-weight: 500;
  line-height: 50px;
  color: var(--black-color);
}
.listing-red-title {
  width: 55%;
  margin: auto;
}
.listing-title-third {
  text-align: center;
  margin-left: 2.8rem;
}
.listing-red {
  font-size: 60px;
  font-family: var(--font-changa);
  font-weight: 500;
  line-height: 60px;
  color: var(--base-color);
}
@media only screen and (max-width: 991px) {
  .listing-flex,
  .listing-company {
    width: 80%;
    text-align: center;
    align-items: center;
  }

  .listing-red-title {
    width: 80%;
    text-align: center;
  }

  .listing-title-third {
    margin-left: 0;
    width: 100%;
  }

  .listing-title {
    font-size: 40px;
    line-height: 45px;
  }

  .listing-red {
    font-size: 40px;
    line-height: 45px;
  }
}

@media only screen and (max-width: 480px) {
  .listing-flex,
  .listing-company,
  .listing-red-title {
    width: 90%;
  }

  .listing-title {
    font-size: 28px;
    line-height: 32px;
  }

  .listing-red {
    font-size: 22px;
    line-height: 26px;
  }
}

/* cta styling started  */
.cta {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 30px;
  margin: 5rem 0px;
  padding-top: 10rem;
}
.cta-card {
  flex: 1 1 30%;
  min-width: 250px;
}

/* Center content in the middle CTA card */
.cta-card:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin-left: 2rem;
}

.cta-img-col3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta-col img:nth-child(1) {
  margin-right: 3px;
}
.cta-img-col3 img,
.cta-col2 img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.cta-col2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: -2.5rem;
}
.cta-col2 img:nth-child(1) {
  margin-right: 8px;
}
.cta-margin {
  margin-bottom: 13px;
}
.cta-position {
  position: absolute;
  top: 8%;
  left: 35%;
  text-align: start;
}
.cta-title {
  font-size: 55px;
  font-family: var(--font-changa);
  font-weight: 500;
  line-height: 55px;
}
.cta-para {
  font-size: 17px;
  font-family: var(--font-roboto);
  font-weight: 400;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .cta {
    padding: 0px 15px;
    margin: 5rem 0px;
    padding-top: 10rem;
  }
  .cta-position {
    position: absolute;
    top: 18%;
    left: 12%;
    text-align: start;
  }
  .cta .cta-card:nth-child(1),
  .cta .cta-card:nth-child(3) {
    display: none;
  }
  .cta-title {
    font-size: 45px;
    line-height: 45px;
  }
  .cta-para {
    font-size: 17px;
    font-weight: 400;
    text-align: start;
  }
  .base-btn {
    width: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .cta {
    padding: 0px 15px;
    margin: 5rem 0px;
    padding-top: 5rem;
  }
  .cta-position {
    position: absolute;
    top: -10%;
    left: 6%;
    text-align: start;
  }
  .cta-para {
    font-size: 15px;
    font-weight: 400;
    text-align: start;
    margin-left: -25px;
  }
}

.icon-bar {
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  z-index: 1000;
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 20px;
}
.icon-bar a:hover {
  background: #222;
}
.icon-bar .facebook {
  background: #3b5998;
}
.icon-bar .twitter {
  background: #55acee;
}
.icon-bar .linkedin {
  background: #007bb5;
}
.icon-bar .instagram {
  background: var(--base-color);
}

.whatsapp-icon {
  position: fixed;
  bottom: 5%;
  right: 0.5%;
  z-index: 1000;
}
.whatsapp-icon .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
}
.whatsapp-icon .icon-container i {
  font-size: 27px;
  color: #fff;
}
